<div class="container">
    <div class="iconBar">
        <i class="fa fa-bars"></i>
        <h4 id="nav-menu">Menu</h4>
    </div>
    <div class="nav-bar container-nav">
        <nav class="menu">
            <ul class="game-category-list">
                <a href="./applications" class="category-link">
                    <li class="category-list"><img src="../public/img/icons/Apps.jpeg" alt="appsIcon" class="icon-list">Apps</li>
                </a>
                <a href="./action_games" class="category-link">
                    <li class="category-list"><img src="../public/img/icons/actionIcon.png" alt="ActionIcon" class="icon-list">Action games</li>
                </a>
                <a href="./shooting_games" class="category-link">
                    <li class="category-list"><img src="../public/img/icons/shoot.jpg" alt="shootingIcon" class="icon-list">Shooting/FPS games</li>
                </a>
                <a href="./racing_games" class="category-link">
                    <li class="category-list"><img src="../public/img/icons/Race-On-4-icon.png" alt="racingIcon" class="icon-list">Racing</li>
                </a>
                <a href="./sports_games" class="category-link">
                    <li class="category-list"><img src="../public/img/icons/sports.jpg" alt="sportsIcon" class="icon-list">Sports</li>
                </a>
                <a href="./adventure_games" class="category-link">
                    <li class="category-list"><img src="../public/img/icons/adventure.jpeg" alt="adventureIcon" class="icon-list">Adventure</li>
                </a>
                <a href="3dAnimation_games" class="category-link">
                    <li class="category-list"><img src="../public/img/icons/animation.jpg" alt="animationIcon" class="icon-list">3d animation</li>
                </a>
            </ul>
        </nav>
        <div class="devLinks">
            <ul>
                <li class="devs-link"><a href="./about" class="developer-link">About the developers</a></li>
                <li class="devs-link"><a href="./privacy" class="developer-link">Privacy&Policies</a></li>
                <li class="devs-link"><a href="./t&c" class="developer-link">Terms and conditions</a></li>
                <li class="devs-link"><a href="./contact" class="developer-link">Contact</a></li>
            </ul>
        </div>
        <footer class="devCopy">emicsoftbros&copy;2020</footer>
    </div>
    <!-- container for the games -->
    <!-- includes mixed games and different apps -->
    <div class="container2">
        <!-- ADSSPACE -->
        <!-- <img src="" alt=""> -->
        <div class="list-games">
            <ul>
                <li class="list-group-games">
                    <a href="#" class="list-game-link"><img src="../public/img/sixguns/sixgunsIcon.png" alt="sixgunsIcon" class="image-game"><br>six guns</a><br><code class="game-type">adventure</code>
                </li>
                <li class="list-group-games">
                    <a href="#" class="list-game-link"><img src="../public/img/maxpayne/maxpayneIcon.png" alt="maxpayneIcon" class="image-game"><br>Max payne</a><br><code class="game-type">action</code>
                </li>
                <li class="list-group-games">
                    <a href="#" class="list-game-link"><img src="../public/img/TempleRun/TempleRunIcon.jpg" alt="TempleRunIcon" class="image-game"><br>Temple run2</a><br><code class="game-type">adventure</code>
                </li>
                <li class="list-group-games">
                    <a href="#" class="list-game-link"><img src="../public/img/dangerDash/dangerDash.jpeg" alt="dangerDashIcon" class="image-game"><br>Danger dash</a><br><code class="game-type">adventure</code>
                </li>
                <li class="list-group-games">
                    <a href="#" class="list-game-link"><img src="../public/img/basketball/basketballIcon.png" alt="basketBallicon" class="image-game"><br>Fanatical basketball</a><br><code class="game-type">sports</code>
                </li>
                <li class="list-group-games">
                    <a href="#" class="list-game-link"><img src="../public/img/fts2020/fts2020.jpg" alt="fts2020Icon" class="image-game"><br>FTS15</a><br><code class="game-type">sports</code>
                </li>
                <li class="list-group-games">
                    <a href="#" class="list-game-link"><img src="../public/img/cheatCode/cheatcode.png" alt="cheatCodeIcon" class="image-game"><br>cheat code</a><br><code class="game-type">app</code>
                </li>
                <li class="list-group-games">
                    <a href="#" class="list-game-link"><img src="../public/img/ES explorer/es explorer.png" alt="esfileIcon" class="image-game"><br>Es explorer</a><br><code class="game-type">app</code>
                </li>
                <li class="list-group-games">
                    <a href="#" class="list-game-link"><img src="../public/img/SubwayPrincessRunner/subway-2.jpg" alt="subwayIcon" class="image-game"><br>Subway Princess Runner</a><br><code class="game-type">animation 3d</code>
                </li>
                <li class="list-group-games">
                    <a href="#" class="list-game-link"><img src="../public/img/Zarchiever/zarcheiver.png" alt="ZarchieverIcon" class="image-game"><br>Zarchiever</a><br><code class="game-type">app</code>
                </li>
                <li class="list-group-games">
                    <a href="#" class="list-game-link"><img src="../public/img/wolfAmongUs/wolf.png" alt="wolfAmongUsIcon" class="image-game"><br>Wolf Among Us</a><br><code class="game-type">adventure</code>
                </li>
                <li class="list-group-games">
                    <a href="#" class="list-game-link"><img src="../public/img/SubwaySufers/SUBWAYSUFERS.png" alt="subwaySufersIcon" class="image-game"><br>subway sufers</a><br><code class="game-type">animation</code>
                </li>
                <li class="list-group-games">
                    <a href="#" class="list-game-link"><img src="../public/img/300men/300men.jpg" alt="siezeandgloryIcon" class="image-game"><br>sieze your glory</a><br><code class="game-type">adventure</code>
                </li>
                <li class="list-group-games">
                    <a href="#" class="list-game-link"><img src="../public/img/coverFire/coverFire.png" alt="coverFireIcon" class="image-game"><br>cover fire</a><br><code class="game-type">shooting</code>
                </li>
                <li class="list-group-games">
                    <a href="#" class="list-game-link"><img src="../public/img/zombieRoadKill/Zombie Roadkill 3D.png" alt="zombieRoadKillIcon" class="image-game"><br>zombieRoadKill 3d/a><br><code class="game-type">shooting</code>
                </li>
                <li class="list-group-games">
                    <a href="#" class="list-game-link"><img src="../public/img/angryBirds/aNGRYbIRDS.png" alt="angryBirdsIcon" class="image-game"><br>Angry birds</a><br><code class="game-type">animation</code>
                </li>
                <li class="list-group-games">
                    <a href="#" class="list-game-link"><img src="../public/img/AlienShooter/alienShooter.png" alt="alienShooterIcon" class="image-game"><br>Alien shooter</a><br><code class="game-type">shooting</code>
                </li>
                <li class="list-group-games">
                    <a href="#" class="list-game-link"><img src="../public/img/deathRace/daethrace.png" alt="deathRaceIcon" class="image-game"><br>Death race</a><br><code class="game-type">racing</code>
                </li>
                <li class="list-group-games">
                    <a href="#" class="list-game-link"><img src="../public/img/battle_of_bullet/com.STJGames.battleofbullet_1.png" alt="battle battle_of_bulletIcon" class="image-game"><br>Battle of bullet</a><br><code class="game-type">shooting</code>
                </li>
                <li class="list-group-games">
                    <a href="#" class="list-game-link"><img src="../public/img/EliteKiller/elitekilesw08034df.jpg" alt="eliteKIllerIcon" class="image-game"><br>EliteKiller swat</a><br><code class="game-type">shooting</code>
                </li>
            </ul>
        </div>
    </div>
    <div class="container3">
        <div class="moreGames">
            <img src="../public/img/spiderMan/SpidermanIcon.png" alt="SpidermanIcon" class="more-img-list">
            <a href="#" class="folow-more-games">
                <p class="list-game-title">Amazing spiderMan<br>(Action&fiction)<br>Mod Apk+obb</p>
            </a>
            <!-- adsSpace -->
            <!-- <p></p> -->
            <img src="../public/img/pes2020/pes2020Icon.png" alt="pes2020" class="more-img-list">
            <a href="#" class="folow-more-games">
                <p class="list-game-title">PES 2020<br>(Android/soccer)<br>Apk+obb</p>
            </a>
            <!-- adsSpace -->
            <!-- <p></p> -->
            <img src="../public/img/ViceCity/vcityIcon.png" alt="vcityIcon" class="more-img-list">
            <a href="#" class="folow-more-games">
                <p class="list-game-title">Gta Vice city<br>(Action/shooting)<br>Apk+obb with Unlimited coins</p>
            </a>
            <!-- adsSpace -->
            <!-- <p></p> -->
            <img src="../public/img/Fifa2020/FIFA-20-1256472.jpg" alt="fifa2020Icon" class="more-img-list">
            <a href="#" class="folow-more-games">
                <p class="list-game-title">FiFa 2020<br>(Android/soccer)<br>Apk+obb</p>
            </a>
            <!-- adsSpace -->
            <!-- <p></p> -->
            <img src="../public/img/ResidentEvil/rensidentEvilIcon.png" alt="" class="more-img-list">
            <a href="#" class="folow-more-games">
                <p class="list-game-title">Resident Evil4<br>(Android/adventure)<br>Mod Apk+obb</p>
            </a>
        </div>
    </div>
    <div style="height:20px;"></div>
    <div class="container4">
        <div class="developer-section">
            <a href="./about" class="devSection">About the team</a>
            <a href="./privacy" class="devSection">Privacy and Polices</a>
            <a href="./t&c" class="devSection">Term and Conditions</a>
            <a href="./contact" class="devSection">Contacts</a>
        </div>
        <div style="height:40px;"></div>
        <div class="last-footer">
            <footer>emicSoftbros.com&copy;2020</footer>
        </div>
    </div>
</div>